* {
    margin: 0;
    padding: 0;
}

span {
    color: #90EFDF;
}

.subtitle {
    font-size: 4vw;
    font-family: 'Fira Code';
    font-weight: 400;
}

h3 {
    font-size: 2.5vw;
}

i {
    font-size: 4vw;
}

body {
    font-family: 'Rubik';
    background: #292D3E;
    color: #DFDFDF;
    font-size: 1.3vw;
}

header {
    width: 100%;
    margin-top: 50px;
}

header .cont-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .cont-items ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-family: 'Fira Code';
}

header .cont-items ul li a {
    text-decoration: none;
    color: #DFDFDF;
    font-weight: 600;
    font-size: 20px;
}

main {
    width: 70%;
    margin: auto;
}

main .intro {
    width: 95%;
    margin-top: 200px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .intro .greeting {
    font-family: 'Fira code';
    color: #90EFDF;
    font-size: 24px;
}

main .intro .title1 {
    font-family: 'Rubik';
    font-size: 70px;
    color: #DFDFDF;
}

main .intro .title2 {
    font-family: 'Rubik';
    font-size: 55px;
    color: #8892B0
}

main .intro .cont-text {
    margin-top: 30px;
    max-width: 500px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #8892B0;
    margin-bottom:30px;
}



main .about-me {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}

main .about-me .title {
    display: flex;
    margin-left: 50px;
    justify-content: flex-start;
}

main .about-me .cont-about {
    display: flex;
    flex-direction: row
}

main .about-me .cont-lines {
    width: 12%;
    display: flex;
    flex-direction: row;
}

main .about-me .cont-lines .vl1 {
    border-left: 1px solid #8892B0;
    height: 500px;
}

main .about-me .cont-lines .vl2 {
    margin-left: 50px;
    margin-top: 50px;
    border-left: 1px solid #8892B0;
    height: 450px;
}

main .about-me .cont-texts {
    margin-top: 50px;
    width: 50%;
}

main .about-me .cont-texts h1 {
    width: 100%;
    text-align: justify;
    margin-bottom: 50px;
    margin-left: 30px;
}

main .about-me .cont-texts p {
    text-align: justify;
    font-family: 'Roboto';
    font-weight: bold;
}

main .about-me .cont-texts .t1 {
    width: 80%;
    color: #8892B0;
    margin-bottom: 30px;
}

main .about-me .cont-texts .t2 {
    color: #DFDFDF;
    margin-bottom: 30px;
}

main .about-me .cont-texts .skills {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .about-me .cont-texts .skills ul li {
    font-family: 'Rubik';
    font-weight: bold;
    list-style: none;
    margin-bottom: 15px;
}

main .about-me .cont-texts .skills ul li i {
    color: #90EFDF;
	margin-right: 20px;
	font-size: 2.5vw;
}

main .about-me .cont-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

main .about-me .cont-picture img {
    width: 50%;
}

main .about-me .cont-picture a {
    margin-top: 100px;
    width: 80%;
}

main .about-me .cont-picture .resume {
    width: 100%;
    font-family: 'Rubik';
    font-weight: bold;
    color: #90EFDF;
    font-size: 1.5vw;
    padding: 30px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #90EFDF;
    cursor: pointer;
}

main .about-me .cont-picture .resume:hover {
    background: #90EFDF;
    color: #222533;
}

main .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .projects .title {
    text-align: center;
    padding: 20px;
    width: 50%;
    border-bottom: 1px solid #8892B0;
}

main .projects .title h1 {
    font-family: 'Fira Code';
    font-weight: 400;
}

main .projects .cont-cards {
    margin-top: 80px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

main .projects .card {
    padding: 30px;
    background: #222533;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    font-display: row;
    font-size: 18px;
    box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.15), 0 15px 18px 0 rgba(0, 0, 0, 0.34);
    margin-bottom: 50px;
}

main .projects .card img {
    width: 60%;
    margin-bottom: 30px;
}

main .projects .card .logo {
    width: 40%;
}

main .projects .card .card-title {
    font-family: 'Rubik';
    align-self: start;
    font-weight: bold;
    color: #DFDFDF;
    margin-bottom: 30px;
}

main .projects .card .card-description {
    font-family: 'Roboto';
    text-align: justify;
    color: #DFDFDF;
    margin-bottom: 30px;
}

main .projects .card .card-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-bottom: 30px;
}

main .projects .card .card-tags .tag {
    border: 2px solid #8892B0;
    color: #8892B0;
    border-radius: 25px;
    padding: 10px 5px;
    margin-right: 5px;
    font-size: 14px;
}

main .projects .card .card-resources i {
    color: #6e5494;
    font-size: 4vw;
}

main .contact-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

main .contact-me .title {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

main .contact-me h1 {
    font-family: 'Fira Code';
    font-weight: 400;
    align-self: flex-end;
}

main .contact-me .cont-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .contact-me .cont-items {
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
}

main .contact-me .cont-items .cont-text {
    font-size: 30px;
}

main .contact-me .cont-items .cont-text span {
    color: #8892B0;
}

main .contact-me .cont-items .cont-media a {
    text-decoration: none;
    color: #90EFDF;
}

main .contact-me .cont-items .cont-media {
    margin-top: 50px;
    width: 60%;
    color: #90EFDF;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}

main .contact-me .cont-lines {
    width: 12%;
    display: flex;
    flex-direction: row;
}

main .contact-me .cont-lines .vl2 {
    margin-left: 50px;
    border-left: 1px solid #8892B0;
    height: 300px;
}

main .contact-me .cont-lines .vl1 {
    margin-top: 50px;
    border-left: 1px solid #8892B0;
    height: 250px;
}


/* MORE STUFF ABOUT ME SECTION */

main .more {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

main .more .title {
    align-self: center;
    text-align: center;
    padding: 20px;
    width: 70%;
    border-bottom: 1px solid #8892B0;
    margin-bottom: 100px;
}

main .more .title h1 {
    font-family: 'Fira Code';
    font-weight: 400;
}

main .more .cont-items {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .more .profile {
    width: 60%;
    position: relative;
    margin-bottom: 100px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

main .more .profile .cont-img {
    margin-top: -120px;
    width: 70%;
    height: 100%;
    background: linear-gradient( rgba(38, 218, 164, 0.459), rgb(39, 171, 194)), url('./images/Imagen 1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    position: absolute;
    z-index: -1;
}

main .more .profile .cont-img:hover {
    margin-top: -120px;
    width: 70%;
    height: 100%;
    background: linear-gradient( rgba(38, 218, 164, 0), rgba(39, 171, 194, 0)), url('./images/Imagen 1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    position: absolute;
    z-index: -1;
}

main .more .profile .cont-img2 {
    margin-top: -120px;
    width: 70%;
    height: 100%;
    background: linear-gradient( rgba(38, 218, 164, 0.459), rgb(39, 171, 194)), url('./images/wca_profile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

main .more .profile .cont-img2:hover {
    margin-top: -120px;
    width: 70%;
    height: 100%;
    background: linear-gradient( rgba(38, 218, 164, 0), rgba(39, 171, 194, 0)), url('./images/wca_profile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

main .more .profile .cont-item {
    width: 100%;
    font-size: 20px;
    padding: 50px;
    background: #222533;
    display: flex;
    box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.15), 0 15px 18px 0 rgba(0, 0, 0, 0.34);
}

main .more .profile .cont-item .cont-text {
    width: 100%;
    font-family: 'Roboto';
    text-align: justify;
}

main .more .profile .cont-item .cont-text .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

main .more .profile .cont-item .cont-text .header .fa-spotify {
    color: #1db954;
    font-size: 30px;
}

main .more .profile .cont-item .cont-text .header .fa-external-link-alt {
    color: #90EFDF;
    font-size: 3vw;
}

main .more .profile .cont-item .cont-text h3 {
    width: 40%;
    text-align: center;
}

main .more .profile img {
    width: 35px;
    height: 35px;
}

main .more .cont-quote{
    margin-top:100px;
    width: 40%;
    font-style: italic;
    font-size:1.5vw;
    text-align:center;
}

main .more .cont-quote button{
    cursor:pointer;
    margin-top:30px;
    padding:30px;
    font-size:1.5vw;
    color:#DFDFDF;
    border-style:none;
    border:3px solid #DFDFDF;
     background: rgba(0, 0, 0, 0);
    font-family: 'Fira Code';
}
main .more .cont-quote button:hover{
    background:#DFDFDF;
    color:#222533;
}
main .more .cont-quote button:focus{
    outline:none;
}


/* FOOTER */

footer {
    margin-bottom: 100px;
    text-align: center;
}

footer h3 {
    font-family: 'Fira Code';
    color: #90EFDF;
    font-weight: 500;
}

@media screen and (max-width: 1480px) {
    header .cont-items ul li a {
        font-size: 1.4vw;
    }
    main .intro .greeting {
        font-size: 2vw;
    }
    main .intro .title1 {
        font-size: 4.5vw;
    }
    main .intro .title2 {
        font-size: 3.5vw;
    }
    main .intro .cont-text {
        font-size: 2vw;
    }
    main .projects .card {
        width: 35%;
    }
}

@media screen and (max-width: 944px) {
    p {
        font-size: 1.8vw;
    }
    header .cont-items ul {
        margin-right: 30px;
        width: 60%;
    }
    header .cont-items ul li a {
        font-size: 1.8vw;
    }
    main .intro {
        width: 100%;
        align-items: center;
    }
    main .intro .greeting {
        font-size: 2vw;
    }
    main .intro .title1 {
        font-size: 6vw;
    }
    main .intro .title2 {
        font-size: 5vw;
        text-align: center;
    }
    main .intro .cont-text {
        font-size: 2vw;
        text-align: center;
    }
    main .projects .card {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 2.3vw;
    }
    li {
        font-size: 2vw;
    }

	h3{
		font-size: 3vw;
	}
	i{
		font-size: 5vw;
	}
    header .cont-items {
        justify-content: center;
    }
    header .cont-items ul {
        margin-right: 0;
    }
    main .about-me {
        margin-top: 300px;
        margin-bottom: 200px;
    }
    main .about-me {
        justify-content: center;
        align-items: center;
    }
    main .about-me .title {
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    main .about-me .cont-lines {
        display: none;
    }
    main .about-me .cont-about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .about-me .cont-texts {
        width: 100%;
    }
    main .about-me .cont-texts .t1 {
        width: 100%;
        color: #8892B0;
        margin-bottom: 30px;
		text-align: center;
    }
    main .about-me .cont-picture {
        flex-direction: row;
        margin-top: 50px;
        width: 100%;
    }
    main .about-me .cont-picture img {
        width: 30%;
        margin-bottom: 0;
        margin-right: 50px;
    }
    main .about-me .cont-picture a {
        width: 50%;
        margin-top: 0;
    }
	main .about-me .cont-picture a .resume{
        font-size: 2.5vw;
		padding: 20px;
    }

	main .projects{
		margin-bottom: 0px;
	}

	main .projects .card-tags .tag{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	main .projects .card-tags .tag p{
		font-size: 2vw;
		text-align: center;
	}
	main .projects .card .card-resources i{
		font-size: 5vw;
	}
	main .contact-me{
		justify-content: center;
	}
	main .contact-me .title {
		width: 100%;
		margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    main .contact-me .cont-lines {
        display: none;
    }

	main .contact-me .cont-items{
		width: 100%;
	}

	main .more{
		margin-bottom: 0;
	}



	main .more .profile .cont-img {
		margin-top: -80px;
	}
	
	main .more .profile .cont-img:hover {
		margin-top: -80px;
	}

	main .more .profile .cont-img2 {
		margin-top: -80px;
	}
	
	main .more .profile .cont-img2:hover {
		margin-top: -80px;
		
	}
	
}


@media screen and (max-width: 500px) {
	p {
        font-size: 2.5vw;
    }
    li {
        font-size: 2.5vw;
    }

	h3{
		font-size: 3vw;
	}
	i{
		font-size: 5vw;
	}
	

	header .cont-items ul {
        margin-right: 30px;
        width: 80%;
    }
    header .cont-items ul li a {
        font-size: 2.5vw;
    }
	main .intro{
		margin-top: 80px;
		margin-bottom: 100px;
	}
	main .intro .greeting {
        font-size: 2.5vw;
    }
    main .intro .title1 {
        font-size: 5vw;
    }
    main .intro .title2 {
        font-size: 5vw;
    }
	main .intro .cont-text {
        width: 80%;
    }
    main .intro .cont-text p{
        font-size: 2.8vw;
    }

	main .about-me{
		margin-top: 0;
		margin-bottom: 100px;
	}

	main .about-me .cont-picture a .resume{
        font-size: 2.5vw;
		padding: 20px 10px;
    }

	main .projects .card .card-title{
		margin-bottom: 10px;

	}

	main .projects .card .card-resources i{
		font-size: 7vw;
	}
	main .projects{
		margin-bottom: 0px;
	}

	main .more .profile .cont-item {
		padding: 20px;
	}
	main .more .profile i{
		font-size: 5vw;
	}

	main .more{
		margin-bottom: 0px;
	}
}